<ul>
    <li>pour les trajets courts, privilégiez la marche ou le vélo.</li>
    <li>pensez à covoiturer.</li>
    <li>au quotidien, prenez les transports en commun</li>
    <li>#SeDéplacerMoinsPolluer</li>
 </ul>
 <div class="footer2">
    <ul>
       <li><a href="sabonner.html">s'abonner</a></li>
       <li>boutique</li>
       <li><a href="mailto:contact@motorsport-news.com">nous contacter</a></li>
       <li><a href="apropos.html">à propos</a></li>
    </ul>
 </div>
</body>
</html>